*.py[cod]
*.so
*.egg-info/
core
dist
build
__pycache__
docs/_userdoc/_build/
docs/_userdoc/apidoc/*
docs/apidoc/
docs/userdoc/
docs/coverage/
docs/gcov/
docs/website/
_website/
*.ebuild
.sw?
.*.sw?
MANIFEST

.tox
.pytest_cache
.cache
.coverage*
gcov.out
