*.py[cod]
*.so
*.egg-info/
__pycache__
/setup.cfg
/dist
/build
/.sdist
/.bdist
/docs/_userdoc/_build/
/docs/_userdoc/apidoc/*
/docs/apidoc/
/docs/userdoc/
/docs/coverage/
/docs/gcov/
/docs/website/
/_website/
*.ebuild
.sw?
.*.sw?
.idea
.vscode
MANIFEST

.DS_Store
/.venv
/.tox
.pytest_cache
.cache
.coverage*
/core
gcov.out
/bench/.out.*

.terraform
.terraform.lock.hcl
.state
*.auto.tfvars.json
*.tf.json
*.auto.*.yaml
*.generated.*
*.zip
