*.py[cod]
*.so
*.egg-info/
__pycache__
/dist
/build
/wheel/dist
/wheel/*.tar.gz
/docs/_userdoc/_build/
/docs/_userdoc/apidoc/*
/docs/apidoc/
/docs/userdoc/
/docs/coverage/
/docs/gcov/
/docs/website/
/_website/
*.ebuild
.sw?
.*.sw?
MANIFEST

/.venv
/.tox
.pytest_cache
.cache
.coverage*
/core
gcov.out

.terraform
.state
*.auto.tfvars.json
*.tf.json
