include cext.h
include rjsmin.c rjsmin.py

include README.md LICENSE
recursive-include bench *
recursive-include tests *

prune tasks

recursive-include docs *
prune docs/userdoc
prune docs/coverage
prune docs/gcov
prune docs/_userdoc/_build/
exclude docs/_userdoc/website_download*
exclude docs/DEVELOPMENT.md
