# Requirements file for tests

pytest == 7.1.2; python_version >= '3.7'
pytest == 7.0.1; python_version == '3.6'
pytest < 6.2.0; python_version == '3.5'
pytest < 5.0.0; python_version < '3.5'

pytest-cov == 3.0.0; python_version >= '3.6'
pytest-cov == 2.12.1; python_version < '3.6'

coverage == 6.4.2; python_version >= '3.7'
coverage == 6.2.0; python_version == '3.6'
coverage == 5.5; python_version < '3.6'

pytest-mock == 3.8.1; python_version >= '3.7'
pytest-mock == 3.6.1; python_version == '3.6'
pytest-mock == 1.12.1; python_version < '3.5'
